<!DOCTYPE HTML>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Silver Pear</title>
    
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css"/>
    <link rel="stylesheet" href="humburger.css"/>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
      <script src="{{url_for('static', filename='menu.js')}}"></script>
      <script src="{{url_for('static', filename='content.js')}}"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <header class="header"> <!-- шапка сайта -->
    <div class="container">
      <div class="header__flex">
        <div class="header__logo"><a href=""><img src="/static/images/logos/logo2.png" alt = "Silver Pear"></a></div> <!-- логотип -->
        <nav class="header__nav"> <!-- десктоп навигация -->
          <ul>
            <li><a href="">ГЛАВНАЯ</a></li>
            <li><a href="">КАТАЛОГ</a></li>
            <li><a href="">КОРЗИНА</a></li>
            <li><a href="">О НАС</a></li>
            <li><a href="">КОНТАКТЫ</a></li>
          </ul>
        </nav>
        <div class="header__hamburger header__hamburger_open"> <!-- элемент для открытия мобильной навигации -->
          <button class="hamburger hamburger--slider-r" type="button"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
        </div>
      </div>
    </div>
  </header>
  
  <div class="overlay"></div> <!-- блок затемнения области контента -->
  
  <div class="mobile"> <!-- мобильная навигация -->
    <div class="mobile__hamburger mobile__hamburger_close"> <!-- элемент для закрытия мобильной навигации -->
      <button class="hamburger hamburger--slider-r is-active" type="button"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
    </div>
    <div class="mobile__nav">
      <ul>
        <li><a href="">ГЛАВНАЯ</a></li>
        <li><a href="">КАТАЛОГ</a></li>
        <li><a href="">КОРЗИНА</a></li>
        <li><a href="">О НАС</a></li>
        <li><a href="">КОНТАКТЫ</a></li>
      </ul>
    </div>
  </div>
    <div class="wrapper">
        <input type="radio" name="point" id="slide1" checked>
        <input type="radio" name="point" id="slide2">
        <input type="radio" name="point" id="slide3">
        <input type="radio" name="point" id="slide4">
        <input type="radio" name="point" id="slide5">
    
    
        <div class="slider">
            <div class="slides slide1">
                <li class="sim-slider-element1"><img src="../static/images/slider/sl1.jpg" style="width: 1220px;" alt="1"></li>
            </div>
            <div class="slides slide2"> 
                <li class="sim-slider-element1"><img src="../static/images/slider/sl2.jpg" style="width: 1220px;" alt="2"></li>
            </div>
            <div class="slides slide3">
                <li class="sim-slider-element1"><img src="../static/images/slider/sl3.jpg" style="width: 1220px;" alt="3"></li>
            </div>
            <div class="slides slide4">
                <li class="sim-slider-element1"><img src="../static/images/slider/sl4.jpg" style="width: 1220px;" alt="4"></li>
            </div>
            <div class="slides slide5">
                <li class="sim-slider-element1"><img src="../static/images/slider/sl5.jpg" style="width: 1220px;" alt="5"></li>
            </div>
        </div>	
    
        <div class="controls">
            <label for="slide1"></label>
            <label for="slide2"></label>
            <label for="slide3"></label>
            <label for="slide4"></label>
            <label for="slide5"></label>
        </div>
    </div>
    <body>
    <section class="cards">
    <div class="container">
      <div class="cards__title">Акции</div>
      <div class="cards__flex">
        <div class="cards__col">
          <div class="cards__card card">
            <div class="card__image"><a href=""><img src="../static/images/products/1.jpg" alt="1"/></a></div>
            <div class="card__body">
              <div class="card__title">Бальзам</div>
              <div class="card__text"><a href="">ELEMIS pro-collagen cleaning balm</a></div>
              <div class="card__bottom">
                <div class="card__price"><span>Р </span>5499</div>
              </div>
            </div>
          </div>
        </div>
        <div class="cards__col">
          <div class="cards__card card">
            <div class="card__image"><a href=""><img src="../static/images/products/2.jpg" alt="2"/></a></div>
            <div class="card__body">
              <div class="card__title">Жидкое мыло</div>
              <div class="card__text"><a href="">ESSENTIAL PARFUMS PARIS divine vanille</a></div>
              <div class="card__bottom">
                <div class="card__price"><span>Р </span>2499</div>
              </div>
            </div>
          </div>
        </div>
        <div class="cards__col">
          <div class="cards__card card">
            <div class="card__image"><a href=""><img src="../static/images/products/4.jpg" alt="3"/></a></div>
            <div class="card__body">
              <div class="card__title">Мусс для губ</div>
              <div class="card__text"><a href="">DEAR DAHLIA paradise dream velvet</a></div>
              <div class="card__bottom">
                <div class="card__price"><span>Р </span>1999</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="cards">
    <div class="container" >
      <div class="cards__title">Новинки</div>
      <div class="cards__flex" id="scroller">
          <template id="post_template">
            <div class="cards__col">
                <div class="cards__card card">
                    <div class="card__image"><a href=""><img src="" alt="1" id="image"/></a></div>
                    <div class="card__body">
                        <div class="card__title" id="title"></div>
                        <div class="card__text" id="text"><a href=""></a></div>
                        <div class="card__bottom">
                            <div class="card__price" id="price">
                                <span>Р </span>
                            </div>
                        </div>
                    </div>
              </div>
          </div>
          </template>
        </div>
    </div>
          <div id="sentinel" class="loader">

    </div>
  </section>

  <footer class = "footer">
    <div class = "container_footer">
        <div class = "contact_footer">
            <p>СЛУЖБА ПОДДЕРЖКИ КЛИЕНТОВ:<br>
                8 800 770 70 21<br>
                <br>
                отдел коммерции, для предложений от поставщиков<br>
                <br>
                development@grusha.ru – отдел развития, для предложений по аренде площадей<br>
                <br>
                marketing@grusha.ru - отдел маркетинга, для маркетинговой активности и рекламы<br>
                <br>
                документы сайта<br>
                <br>
                политика обработки персональных данных</p>
        </div>


        <div class="footer_logo">
            <figure>
                <img src="/static/images/logos/logo2.png" alt = "Silver Pear">
            </figure>
    
        </div>
        
        <div class = "social_media_footer">
            <h3> МЫ В СОЦИАЛЬНЫХ СЕТЯХ</h3>

            <div class = "social_media">
                <div class = "social_media_image"><img src="/static/images/logos/telegram.png" alt = "Telegram link"></div>
                <h4 class = "social_media_link" href="#"> TELEGRAM</h4>
            </div>

            <div class = "social_media">
                <div class = "social_media_image"><img src="/static/images/logos/vk.png" alt = "VK link"></div>
                <h4 class = "social_media_link" href="#"> VK</h4>
            </div>

            <div class = "social_media">
                <div class = "social_media_image"><img src="/static/images/logos/tiktok.png" alt = "Tiktok link"></div>
                <h4 class = "social_media_link" href="#"> TIKTOK</h4>
            </div>

            
        </div>

    </div>
    </footer>
    </body>

<script>

    var scroller = document.querySelector('#scroller');
    var template = document.querySelector('#post_template');
    console.log(template);

    var sentinel = document.querySelector('#sentinel');

    var counter = 0;

    function loadItems() {
        fetch(`/load?c=${counter}`).then((responce) => {
            responce.json().then((data) => {
                if (!data.length) {
                    sentinel.style.display = "none";
                    console.log("No more data")
                }
                for (let i = 0; i < data.length; i++) {
                    let template_clone = template.content.cloneNode(true);
                    console.log(data[i])
                    template_clone.querySelector("#title").innerHTML = `${data[i].title}`
                    template_clone.querySelector("#text").innerHTML = `${data[i].text}`
                    template_clone.querySelector("#price").innerHTML = `${data[i].price} Р`
                    template_clone.querySelector("#image").src = `../static/images/products/${data[i].image}`
                    scroller.appendChild(template_clone)
                    counter += 1
                    console.log(counter);
                }

            })
        })
    }

    var intersectionObserver = new IntersectionObserver(entries => {
        if (entries[0].intersectionRatio <= 0) {
            return;
        }
        loadItems();
    });
    intersectionObserver.observe(sentinel);

</script>

</html>